@font-face {
  font-family: "Dosis Light";
  src: url('/fonts/../../fonts/dosis-light-webgont.eot');
  src: url('/fonts/../../fonts/dosis-light-webgont.eot?#iefix') format('embedded-opentype'), url('/fonts/../../fonts/dosis-light-webfont.woff') format('woff'), url('/fonts/../../fonts/dosis-light-webfont.ttf') format('truetype'), url('/fonts/../../fonts/dosis-light-webfont.svg') format('svg');
}
/* line 1, ../scss/components/nav.scss */
nav {
  -moz-box-shadow: #343434 0 0 5px;
  -webkit-box-shadow: #343434 0 0 5px;
  box-shadow: #343434 0 0 5px;
  width: 253px;
  height: 100%;
  background: #323232;
  position: fixed;
}
/* line 8, ../scss/components/nav.scss */
nav ul.main-nav > li {
  padding: 10px 0px 0px 72px;
}
/* line 11, ../scss/components/nav.scss */
nav ul.main-nav > li:first-child {
  padding: 0px 72px;
  margin-bottom: 34px;
}
/* line 16, ../scss/components/nav.scss */
nav ul.main-nav > li a {
  /* [archetype:styleguide:begin] --- `medium muted headline in a module, link in a module` --- */
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #0088CC;
  text-decoration: none;
  /* [archetype:styleguide:end] --- `medium muted headline in a module, link in a module` --- */
  color: #FFF;
}
/* line 193, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/archetype-1.0.0.alpha.4/stylesheets/archetype/util/_targeting.scss */
nav ul.main-nav > li a {
  /* [archetype:target-os:begin] --- default --- */
  /* [archetype:target-os:end]   --- default --- */
}
/* line 263, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/archetype-1.0.0.alpha.4/stylesheets/archetype/util/_styles.scss */
nav ul.main-nav > li a.hover, nav ul.main-nav > li a:hover, nav ul.main-nav > li a.focus, nav ul.main-nav > li a:focus {
  text-decoration: underline;
}
/* line 20, ../scss/components/nav.scss */
nav ul.main-nav > li a.nav-button {
  text-decoration: none;
  padding: 20px 40px;
  background: #00698c;
  color: #FFF;
  margin-left: -40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
/* line 25, ../scss/components/nav.scss */
nav ul.main-nav > li label {
  color: #666;
  cursor: pointer;
}
/* line 29, ../scss/components/nav.scss */
nav ul.main-nav > li label:hover {
  text-decoration: underline;
}
/* line 37, ../scss/components/nav.scss */
nav ul.main-nav > li.sub input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* [archetype:target:browser:begin] --- ie lte 7 --- */
  _clip: rect(1px 1px 1px 1px);
  /* [archetype:target:browser:end]   --- ie lte 7 --- */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 157, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/archetype-1.0.0.alpha.4/stylesheets/archetype/util/_targeting.scss */
.ie.lte7 nav ul.main-nav > li.sub input {
  /* [archetype:target:browser:begin] --- ie lte 7 --- */
  /* [archetype:target:browser:end]   --- ie lte 7 --- */
}
/* line 40, ../scss/components/nav.scss */
nav ul.main-nav > li.sub input:checked ~ ul {
  display: block;
}
/* line 43, ../scss/components/nav.scss */
nav ul.main-nav > li.sub input:checked ~ ul li {
  padding-left: 20px;
}
/* line 49, ../scss/components/nav.scss */
nav ul.main-nav > li.sub ul {
  display: none;
}

/* line 1, ../scss/components/header.scss */
header {
  margin-bottom: 44px;
}
/* line 3, ../scss/components/header.scss */
header h1 {
  font-family: "Dosis Light";
  font-size: 48px;
  line-height: 50px;
  margin: 34px 0px 34px 0px;
  padding: 0px 32px;
}
/* line 9, ../scss/components/header.scss */
header h1 a, header h1 a:visited {
  color: #FFF;
  text-decoration: none;
}
/* line 15, ../scss/components/header.scss */
header h2.tagline {
  font-family: "Dosis Light";
  position: absolute;
  width: 796px;
  top: 74px;
  left: 300px;
  font-size: 32px;
  color: #323232;
}

/* line 2, ../scss/components/content.scss */
#content {
  margin-left: 10px;
  float: left;
  margin-left: 297px;
  margin-right: 297px;
  *zoom: 1;
  position: relative;
  width: 728px;
  -moz-box-shadow: #939393 0 0 3px;
  -webkit-box-shadow: #939393 0 0 3px;
  box-shadow: #939393 0 0 3px;
  background: #FFF;
  padding: 34px;
  margin-top: 142px;
}
/* line 9, ../scss/components/content.scss */
#content h1, #content h2, #content p, #content pre {
  margin-bottom: 32px;
}
/* line 13, ../scss/components/content.scss */
#content p:last-child {
  margin-bottom: 47px;
}
/* line 17, ../scss/components/content.scss */
#content h1 {
  /* [archetype:styleguide:begin] --- `xlarge headline` --- */
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: black;
  /* [archetype:styleguide:end] --- `xlarge headline` --- */
}
/* line 193, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/archetype-1.0.0.alpha.4/stylesheets/archetype/util/_targeting.scss */
#content h1 {
  /* [archetype:target-os:begin] --- default --- */
  /* [archetype:target-os:end]   --- default --- */
}
/* line 21, ../scss/components/content.scss */
#content h2 {
  /* [archetype:styleguide:begin] --- `large headline` --- */
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: black;
  /* [archetype:styleguide:end] --- `large headline` --- */
}
/* line 193, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/archetype-1.0.0.alpha.4/stylesheets/archetype/util/_targeting.scss */
#content h2 {
  /* [archetype:target-os:begin] --- default --- */
  /* [archetype:target-os:end]   --- default --- */
}
/* line 25, ../scss/components/content.scss */
#content h3 {
  font-size: 16px;
  margin-bottom: 32px;
}
/* line 31, ../scss/components/content.scss */
#content h1, #content h2, #content h3 {
  color: #323232;
}
/* line 35, ../scss/components/content.scss */
#content code {
  color: #00698c;
}
/* line 39, ../scss/components/content.scss */
#content a {
  color: #267f9d;
  text-decoration: none;
}
/* line 44, ../scss/components/content.scss */
#content pre {
  -moz-box-shadow: inset 0 0 3px #939393;
  -webkit-box-shadow: inset 0 0 3px #939393;
  box-shadow: inset 0 0 3px #939393;
  background: #dddddd;
  color: #00698c;
  padding: 15px;
}

/* line 1, ../scss/components/footer.scss */
footer {
  margin-left: 10px;
  float: left;
  margin-left: 297px;
  margin-right: 297px;
  *zoom: 1;
  position: relative;
  width: 728px;
}

/* line 24, ../scss/main.scss */
html {
  height: 100%;
}

/* line 28, ../scss/main.scss */
body {
  /* [archetype:styleguide:begin] --- `large copy` --- */
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: normal;
  /* [archetype:styleguide:end] --- `large copy` --- */
  height: 100%;
  background: #dddddd;
  font-family: 'Roboto', sans-serif;
}
/* line 34, ../scss/main.scss */
body ul {
  list-style: none;
}

/* line 39, ../scss/main.scss */
#body {
  overflow: hidden;
}
